<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 58.5938px;">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src * ;img-src *">-->
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline';img-src 'self' http://support.shunde.gov.cn:9203">-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>生活缴费</title>
    <link rel="stylesheet" href="mui/css/mui.css">
    <link rel="stylesheet" href="mui/css/mui.loading.css">
    <link href="framework7/css/font-awesome.min.css" rel="stylesheet">
    <link href="framework7/css/framework7.ios.min.css" rel="stylesheet">
    <link href="framework7/css/framework7.ios.colors.min.css" rel="stylesheet">
    <link href="framework7/css/style.css" rel="stylesheet" type="text/css">
    <link href="css/app/fingertips/managerInfo.css?v=1.0.1" rel="stylesheet" type="text/css">
    <link href="css/app/fingertips/managerInfo.css?v=1.0.1" rel="stylesheet" type="text/css">
    <link href="css/app/life/livingpay/ipay.css?v=1.0.1" rel="stylesheet" type="text/css">
    <link href="css/app/life/livingpay/orderList.css?v=1.0.1" rel="stylesheet" type="text/css">

<body>



<div th:if="${#lists.isEmpty(orderList)}">
    <div class="" >
        <div style="text-align: center;padding-top:20px; ">
            <label class="label-tr-top" th:text="暂无数据"></label>
        </div>
    </div>
</div>
<div th:each="PayOrder:${orderList}" class="mui-list">
    <div th:if="${PayOrder.time} ne ''  ">
        <div class="mui-tr-date" >
            <div>
                <label class="label-tr-top" th:text="${PayOrder.time}"></label>
            </div>
        </div>
    </div>
    <div class="mui-tr"  th:onclick="getOrderMess([[${PayOrder.id}]]);">
        <div class="mui-tr-img" th:switch="${PayOrder.sourceType}">
            <img th:case="'iElePay'" src="img/life/dianfee.png" style="height: 50px;width: 50px;">
            <img th:case="'iPayWaterFee'" src="img/life/shuifee.png" style="height: 50px;width: 50px;">
            <img th:case="'iPayForNontaxFee'" src="img/life/feishuifee.png" style="height: 50px;width: 50px;">
            <img th:case="'nonTax'" src="img/life/feishuifee.png" style="height: 50px;width: 50px;">
            <img th:case="'iPayForEducationFee'" src="img/life/xuezafee.png" style="height: 50px;width: 50px;">
            <img th:case="'*'" src="img/life/qitafee.png" style="height: 50px;width: 50px;">
        </div>
        <div class="mui-tr-mess">
            <div class="mui-tr-mess-type">
                <label class="" th:switch="${PayOrder.sourceType}" >
                    <label class="label-type" th:case="'iPayForEducationFee'">教育费</label>
                    <label class="label-type" th:case="'iPayWaterFee'">水费</label>
                    <label class="label-type" th:case="'iPayForNontaxFee'">非税</label>
                    <label class="label-type" th:case="'nonTax'">非税</label>
                    <label class="label-type" th:case="'iElePay'">电费</label>
                    <label class="label-type" th:case="'iPayRepairFundQry'">维修资金</label>
                    <label class="label-type" th:case="'*'">其他</label>
                </label>
            </div>
            <div class="mui-tr-mess-user">
                <div class="mui-label-user">
                    <label class="label-user" th:text="${userName}"></label>
                </div>
                <div class="mui-label-fee">
                    <label class="label-fee" th:text="'￥'+${PayOrder.fee}"></label>
                </div>
            </div>
            <div class="mui-tr-mess-time">
                <label class="label-time" th:text="${#dates.format(PayOrder.createDate,'MM月dd日 HH:mm')}"></label>
            </div>
        </div>
    </div>

</div>
</th:block>


<script type="application/javascript" src="mui/js/mui.min.js"></script>
<script type="application/javascript" src="mui/js/mui.loading.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="framework7/js/framework7.min.js"></script>
<!--    <script type="text/javascript" src="framework7/js/cityCode.js"></script>-->
<script type="text/javascript" src="framework7/js/regionsObject.js"></script>
<script type="text/javascript" src="framework7/js/cityPicker.js"></script>
<script>
    function getOrderMess(str){
        window.location.href=basePath() + "/livingPay/getOrderMess?id="+str; /*接口域名地址*/
    }

</script>
</body>
</html>