<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unifs.sdbst.app.dao.primary.cms.BulletinMapper" >
  <resultMap id="BaseResultMap" type="com.unifs.sdbst.app.bean.cms.Bulletin" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CMS_BULLETIN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.unifs.sdbst.app.bean.cms.Bulletin" >
    insert into CMS_BULLETIN (ID, TITLE, LINK, 
      CREATE_DATE, CREATE_BY, UPDATE_DATE, 
      UPDATE_BY, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.unifs.sdbst.app.bean.cms.Bulletin" >
    update CMS_BULLETIN
    set TITLE = #{title,jdbcType=VARCHAR},
      LINK = #{link,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, TITLE, LINK, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, DEL_FLAG
    from CMS_BULLETIN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, TITLE, LINK, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, DEL_FLAG
    from CMS_BULLETIN
    where del_flag='0'
  </select>
</mapper>