<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>建议与反馈</title>
    <link rel="stylesheet" href="css/app/advice.css" />
    <link rel="stylesheet" href="js/app/plug/alertPopShow.css">
    <link href="weui/css/weui.css?v=1.0.1" rel="stylesheet" type="text/css">
    <link href="weui/css/weuix.css?v=1.0.1" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/app/plug/alertPopShow.js"></script>

    <script src="weui/js/zepto.min.js"></script>
    <style type="text/css">
        .container .sub #btn{border-radius: 5px;}
        .container textarea{padding: 3px;box-sizing: border-box;}
        .appAdvice{

            height: 40px;
            margin-top: 20px;
            margin-left: 10px;
            border-bottom: 1px solid #d5d5d6;
        }
        .notAppAdvice{

            height: 40px;
            border-bottom: 1px solid #d5d5d6;
            margin-top: 20px;
            margin-left: 10px;
        }
    </style>
    <script>
        function toAppAdvice(){
            var urlparams=$("#urlparams").val();
            var link=$("#link").val();
            window.location.href=basePath() + "/app/personal/adviceNew?link="+link+"&urlparams="+urlparams; /*接口域名地址*/
        }
        function toMyAppAdvice(){
            var urlparams=$("#urlparams").val();
            var link=$("#link").val();
            window.location.href=basePath() + "/app/personal/MyAdvice?link="+link+"&urlparams="+urlparams; /*接口域名地址*/
        }
    </script>
</head>
<body ontouchstart>
<div class="page-bd">
    <div class="weui-cells" style="margin-top: 0px">
        <a class="weui-cell weui-cell_access" onclick="toAppAdvice();">
            <div class="weui-cell__bd">
                <p>提交建议</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" onclick="toMyAppAdvice();">
            <div class="weui-cell__bd">
                <p>我的建议</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <input type="hidden" id="link" name="link" th:value="${link}" />
    <input type="hidden" id="urlparams" name="urlparams" th:value="${urlparams}" />
</body>
</html>




